
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> docker ###
/.docker/composer/tmp/
/.docker/mysql/data/
/.docker/php/logs/
###< docker ###